@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mask {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

$mask-color: rgba(0,0,0,0.5);


