.text-base {
  font-size: 25px;
  color: #424C50;
}

.l {
  font-size: 35px;
}

.xl {
  font-size: 50px;
}

.s {
  font-size: 15px;
}

.xs {
  font-size: 12px;
}


.bold {
  font-weight: bold;
}

.light {
  color: #9B9B9B;
}

.white {
  color: white;
}

.err {
  color: #FF2121;
}

.black {
  color: black;
}